<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title><s:text name='reg1.jsp.reg1.jsp.624662580'/></title>
	<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
	<div class="mainbox mw1024">
		
		<!-- <s:text name='viewgrxx-edit-jc.jsp.grxx-edit-jc.jsp.745012'/> -->
		{{ include "head.html" }}

		<div class="center z-cb">
			<div class="leftbox z-l">
				
				<!-- <s:text name='reg1.jsp.reg1.jsp.624662580'/>用户信息 -->
				{{ include "user.html" }}

				<div class="system">
					<h3><s:text name='viewgrxx.jsp.grxx.jsp.616144510'/></h3>
					<ul>
						<li><a href="#"><s:text name='viewgrxx-rule.jsp.grxx-rule.jsp.865821164'/></a></li>
						<li><a href="#"><s:text name='viewinformation.html.information.html.471675913'/></a></li>
						<li><b style=" color:#ff00ff;"><s:text name='viewinformation.html.information.html.716972225'/></b></li>
			            <li><a href="#"><s:text name='viewgrxx.jsp.grxx.jsp.-1088456654'/>：</a><span class="c-r">0</span></li>
			            <li><a href="#"><s:text name='viewgrxx.jsp.grxx.jsp.989746478'/>：</a><span class="c-b">0</span></li>
			            <li><a href="#" class="c-b"><s:text name='viewinformation.html.information.html.-2010689047'/></a></li>
			            <li><a href="#" class="c-r"><s:text name='viewgrxx.jsp.grxx.jsp.626816442'/></a></li>
			            <li><a href="#"><s:text name='viewinformation.html.information.html.16265688'/></a></li>
			            <li><a href="#"><s:text name='viewgrxx.jsp.grxx.jsp.247726354'/></a></li>
						<li><a href="#"><s:text name='viewinformation.html.information.html.773882393'/></a></li>
			        </ul>
				</div>
			</div>
			<div class="z-l">
				<div class="content-box1">
					<div class="content-title">
						<span><s:text name='viewjflc.jsp.jflc.jsp.951004942'/>平台<s:text name='viewgrxx-rule.jsp.grxx-rule.jsp.865821164'/></span>
					</div>
					<div class="content-txt">
						<s:text name='viewinformation.html.information.html.-203711744'/>：http://vip.zgyce.com/reg.asp?tg=300fhk
						<s:text name='viewjflc.jsp.jflc.jsp.951004942'/>平台<s:text name='viewgrxx-rule.jsp.grxx-rule.jsp.865821164'/>
						<s:text name='viewgrxx-rule.jsp.grxx-rule.jsp.-1355582752'/>：vip2.zgyce.com
						    <s:text name='reg1.jsp.reg1.jsp.624662580'/>（www.zgyce.com）于2012年7月开始创业，是一家从事互联网信息服务、电子商务、<br ><br ><br ><br ><br ><br ><br ><br ><br ><br ><br >连锁经营、计算机软件开发与服务、网站开发运营、网上商城、理财游戏、娱乐<br >游戏等为一体的综合性企业。<br >
<br ><br ><br ><br ><br ><br ><br ><br ><br ><br ><br >
						    <s:text name='viewinformation.html.information.html.-370301100'/>）<br >
						    <s:text name='viewinformation.html.information.html.531853641'/>，<br >
						    <s:text name='viewinformation.html.information.html.-990857516'/>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/jquery.js"></script>
	<script src="scripts/common.js"></script>
</body>
</html>
