<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>会员中心</title>
	<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
	<div class="mainbox mw1024">
		
		<!-- 头部 -->
		{{ include "head.html" }}

		<div class="center z-cb">
			<div class="leftbox z-l">
				
				<!-- 会员中心用户信息 -->
				{{ include "user.html" }}

				<div class="system">
					<h3>业绩查询</h3>
					<ul>
			            <li><a href="#">游戏业务</a></li>
			            <li>游戏级别：<span class="c-b">20</span></li>
			            <li>报单币余额：<span class="c-b">0</span></li>
			            <li><a href="#">可开户一币：<span  class="c-b">408771</span></a></li>
			            <li><a href="#">报单币明细</a>--<b><a href="#" class="c-g z-b">转出</a></b></li>
			            <li>周封奖金：<span class="c-b">40000</span></li>
			            <li><span  class="c-r">收益比例：0%</span></li>
			            <li><span  class="c-r">目前收益：</span></li>
			        </ul>
				</div>
			</div>
			<div class="content z-l">
				<div class="content-box">
					<div class="content-title">
						<span>一币变化明细</span>
						<p class="r-link">
							<a href="#">可开户</a>|
							<a href="#">报单明细</a>|
							<a href="#">转出</a>
						</p>
					</div>
					<div class="content-table">
						<table>
							<tr>
								<th width="75">用户名</th>
								<th>一币收入</th>
								<th>一币支出</th>
								<th>金币收入</th>
								<th>金币支出</th>
								<th>剩余一币</th>
								<th>剩余金币</th>
								<th width="100">更新时间</th>
								<th width="135">备注</th>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr><tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr><tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr><tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
						</table>
						<div class="page">
							<p>>>分页　<a href="#">首页</a>　<a href="#">上一页</a>　<a href="#">下一页</a>　<a href="#">尾页</a>　页次：<b>1/10</b>页　共<b>200</b>条　<b>20</b>条/页　转到：<input type="text" /><button>GO</button> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/jquery.js"></script>
	<script src="scripts/common.js"></script>
</body>
</html>