<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title><s:text name='reg1.jsp.reg1.jsp.624662580'/></title>
	<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
	<div class="mainbox mw1024">
		
		<!-- <s:text name='viewgrxx-edit-jc.jsp.grxx-edit-jc.jsp.745012'/> -->
		{{ include "head.html" }}

		<div class="center z-cb">
			<div class="leftbox z-l">
				
				<!-- <s:text name='reg1.jsp.reg1.jsp.624662580'/>用户信息 -->
				{{ include "user.html" }}

				<div class="system">
					<h3><s:text name='viewlinks.html.links.html.627723500'/></h3>
					<ul>
			            <li><a href="#"><s:text name='viewlinks.html.links.html.865347806'/></a></li>
			            <li><s:text name='viewlinks.html.links.html.865732987'/>：<span class="c-b">20</span></li>
			            <li><s:text name='viewlinks.html.links.html.-1788801323'/>：<span class="c-b">0</span></li>
			            <li><a href="#"><s:text name='viewlinks.html.links.html.-881818137'/>：<span  class="c-b">408771</span></a></li>
			            <li><a href="#"><s:text name='viewlinks.html.links.html.-1741306770'/></a></b></li>
			            <li><s:text name='viewlinks.html.links.html.667104660'/>：<span class="c-b">40000</span></li>
			            <li><span  class="c-r"><s:text name='viewlinks.html.links.html.801984907'/>：0%</span></li>
			            <li><span  class="c-r"><s:text name='viewlinks.html.links.html.928097715'/>：</span></li>
			        </ul>
				</div>
			</div>
			<div class="content z-l">
				<div class="content-box">
					<div class="content-title">
						<span><s:text name='viewlinks.html.links.html.1846650039'/></span>
						<p class="r-link">
							<a href="#"><s:text name='viewlinks.html.links.html.21428070'/></a>|
							<a href="#"><s:text name='viewlinks.html.links.html.773655496'/></a>|
							<a href="#"><s:text name='viewlinks.html.links.html.1159182'/></a>
						</p>
					</div>
					<div class="content-table">
						<table>
							<tr>
								<th width="75"><s:text name='reg.jsp.reg.jsp.29623262'/></th>
								<th><s:text name='viewlinks.html.links.html.618817200'/></th>
								<th><s:text name='viewlinks.html.links.html.618817132'/></th>
								<th><s:text name='viewlinks.html.links.html.1136018751'/></th>
								<th><s:text name='viewlinks.html.links.html.1136018683'/></th>
								<th><s:text name='viewlinks.html.links.html.648664593'/></th>
								<th><s:text name='viewlinks.html.links.html.649202784'/></th>
								<th width="100"><s:text name='viewgrxx-gcbf.jsp.grxx-gcbf.jsp.811035898'/></th>
								<th width="135"><s:text name='viewgrxx-gcbf.jsp.grxx-gcbf.jsp.734401'/></th>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr><tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr><tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr><tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
						</table>
						<div class="page">
							<p>>><s:text name='viewlinks.html.links.html.-412165894'/>：<input type="text" /><button>GO</button> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/jquery.js"></script>
	<script src="scripts/common.js"></script>
</body>
</html>
