<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title><s:text name='reg1.jsp.reg1.jsp.624662580'/></title>
	<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
	<div class="mainbox mw1024">
		
		<!-- <s:text name='viewgrxx-edit-jc.jsp.grxx-edit-jc.jsp.745012'/> -->
		{{ include "head.html" }}

		<div class="center z-cb">
			<div class="leftbox z-l">
				
				<!-- <s:text name='reg1.jsp.reg1.jsp.624662580'/>用户信息 -->
				{{ include "user.html" }}

				<div class="system">
					<h3><s:text name='viewjflc.jsp.jflc.jsp.951062035'/></h3>
					<ul>
						<li><s:text name='viewshop.html.shop.html.2019724238'/>：<span class="c-r">23975</span></li>
						<li><s:text name='viewshop.html.shop.html.-2060498186'/>：<span class="c-z">0</span></li>
						<li><s:text name='viewshop.html.shop.html.-256393235'/>：<span class="c-z">20</span></li>
						<li><s:text name='viewshop.html.shop.html.994834486'/>：<span class="c-z">210</span></li>
						<li><s:text name='viewshop.html.shop.html.-1892736228'/>：<span class="c-g">210</span></li>
						<li><s:text name='viewshop.html.shop.html.1958259639'/>：<span class="c-b">120</span></li>
						<li><s:text name='viewshop.html.shop.html.649202784'/>：<span class="c-z">1.20</span></li>
						<li><s:text name='viewshop.html.shop.html.950786681'/>：<span class="c-r">20</span></li>
						<li><s:text name='viewshop.html.shop.html.950947478'/>：<span class="c-g">0</span></li>
						<li><s:text name='viewjflc.jsp.jflc.jsp.-1002641178'/>：<span class="c-z">0</span></li>
						<li><s:text name='viewjflc.jsp.jflc.jsp.-1002856070'/>：<span class="c-g">0</span></li>
			        </ul>
				</div>
			</div>
			<div class="z-l">
				<div class="content-box1">
					<div class="content-title">
						<span><s:text name='viewshop.html.shop.html.-1061623330'/></span>
					</div>
					<div class="content-txt">
						<div class="">
							<p ><span><s:text name='viewzhgl-bank.jsp.zhgl-bank.jsp.909107657'/><b class="c-b"><s:text name='viewzhgl-bank.jsp.zhgl-bank.jsp.643357742'/>QQ：613697152</b> </span><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=613697152&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:613697152:41" alt="<s:text name='viewservice.jsp.service.jsp.488997268'/>" title="<s:text name='viewservice.jsp.service.jsp.488997268'/>"></a><b class="c-r" style="font-size:12px;">&nbsp;<s:text name='viewshop.html.shop.html.-1173375200'/>！</b></p>

							<p><b class="c-g"><s:text name='viewshop.html.shop.html.-1254756306'/>。<span></b></p>

							<p class="z-tc mb20"><b class="c-b" style="font-size:12px;"><s:text name='viewshop.html.shop.html.-1754166168'/><span></b></p>

						</div>
						<div class="cp-list">
							<ul>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p><s:text name='viewshop.html.shop.html.-1057781000'/></p>
										<p>
											<span><s:text name='viewshop.html.shop.html.-1337729583'/></span>
											<a href="#"><s:text name='viewshop.html.shop.html.788087216'/></a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p><s:text name='viewshop.html.shop.html.-1057781000'/></p>
										<p>
											<span><s:text name='viewshop.html.shop.html.-1337729583'/></span>
											<a href="#"><s:text name='viewshop.html.shop.html.788087216'/></a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p><s:text name='viewshop.html.shop.html.-1057781000'/></p>
										<p>
											<span><s:text name='viewshop.html.shop.html.-1337729583'/></span>
											<a href="#"><s:text name='viewshop.html.shop.html.788087216'/></a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p><s:text name='viewshop.html.shop.html.-1057781000'/></p>
										<p>
											<span><s:text name='viewshop.html.shop.html.-1337729583'/></span>
											<a href="#"><s:text name='viewshop.html.shop.html.788087216'/></a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p><s:text name='viewshop.html.shop.html.-1057781000'/></p>
										<p>
											<span><s:text name='viewshop.html.shop.html.-1337729583'/></span>
											<a href="#"><s:text name='viewshop.html.shop.html.788087216'/></a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p><s:text name='viewshop.html.shop.html.-1057781000'/></p>
										<p>
											<span><s:text name='viewshop.html.shop.html.-1337729583'/></span>
											<a href="#"><s:text name='viewshop.html.shop.html.788087216'/></a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p><s:text name='viewshop.html.shop.html.-1057781000'/></p>
										<p>
											<span><s:text name='viewshop.html.shop.html.-1337729583'/></span>
											<a href="#"><s:text name='viewshop.html.shop.html.788087216'/></a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p><s:text name='viewshop.html.shop.html.-1057781000'/></p>
										<p>
											<span><s:text name='viewshop.html.shop.html.-1337729583'/></span>
											<a href="#"><s:text name='viewshop.html.shop.html.788087216'/></a>
										</p>
									</div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/jquery.js"></script>
	<script src="scripts/common.js"></script>
</body>
</html>
