<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 	http://www.springframework.org/schema/aop 
	 	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     	http://www.springframework.org/schema/tx 
     	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">
      
       <bean id="agentService" class="com.yq.agent.service.AgentService"></bean>
       
       <bean id="agentAppDao" class="com.yq.agent.dao.AgentAppDao"></bean>
       <bean id="agentUserDao" class="com.yq.agent.dao.AgentUserDao"></bean>
       <bean id="agentScoresChangeLogDao" class="com.yq.agent.dao.AgentScoresChangeLogDao"></bean>
       <bean id="agentYbChangeLogDao" class="com.yq.agent.dao.AgentYbChangeLogDao"></bean>
       <bean id="agentOrderDao" class="com.yq.agent.dao.AgentOrderDao"></bean>
       
       <bean id="agentPointsChangeLogDao" class="com.yq.agent.dao.AgentPointsChangeLogDao"></bean>
       <bean id="agentTxpayDao" class="com.yq.agent.dao.AgentTxpayDao"></bean>
       <bean id="agentGpjyDao" class="com.yq.agent.dao.AgentGpjyDao"></bean>
       <bean id="appPayRecordDao" class="com.yq.agent.dao.AppPayRecordDao"></bean>
     
       
</beans>
