<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>中国一川（澳门）国际有限公司</title>
	<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
	<div class="mainbox mw1024">
		
		<!-- 头部 -->
		{{ include "head.html" }}

		<div class="center z-cb">
			<div class="leftbox z-l">
				
				<!-- 会员中心用户信息 -->
				{{ include "user.html" }}

				<div class="system">
					<h3>账户概览</h3>
					<ul>
						<li>累计奖金一币：<span class="c-r">23975</span></li>
						<li>推广部分一币：<span class="c-z">0</span></li>
						<li>平衡部分一币：<span class="c-z">20</span></li>
						<li>辅导部分一币：<span class="c-z">210</span></li>
						<li>累计认购一币：<span class="c-g">210</span></li>
						<li>累计卖出一币：<span class="c-b">120</span></li>
						<li>剩余金币：<span class="c-z">1.20</span></li>
						<li>积分单价：<span class="c-r">20</span></li>
						<li>积分数量：<span class="c-g">0</span></li>
						<li>积分拆分次数：<span class="c-z">0</span></li>
						<li>积分拆分倍数：<span class="c-g">0</span></li>
			        </ul>
				</div>
			</div>
			<div class="content z-l">
				<div class="content-box">
					<div class="content-title">
						<span>我的客户</span>
					</div>
					<div class="a-kh">
						如果有问题请第一时间联系我(推荐人): QQ:23925464 <a href="#"> 点击这里给我发消息</a>　手机：13512564646  s先生/小姐
					</div>
					<div class="content-table">
						<table>
							<tr>
								<th width="75">用户名</th>
								<th>一币收入</th>
								<th>一币支出</th>
								<th>金币收入</th>
								<th>金币支出</th>
								<th>剩余一币</th>
								<th>剩余金币</th>
								<th width="100">更新时间</th>
								<th width="135">备注</th>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr><tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr><tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr><tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
							<tr>
								<td>9999</td>
								<td>999</td>
								<td>999999</td>
								<td>999</td>
								<td>99999</td>
								<td>999999</td>
								<td>99999</td>
								<td>99</td>
								<td>99</td>
							</tr>
						</table>
						<div class="page">
							<p>>>分页　<a href="#">首页</a>　<a href="#">上一页</a>　<a href="#">下一页</a>　<a href="#">尾页</a>　页次：<b>1/10</b>页　共<b>200</b>条　<b>20</b>条/页　转到：<input type="text" /><button>GO</button> </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/jquery.js"></script>
	<script src="scripts/common.js"></script>
</body>
</html>