<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>中国一川（澳门）国际有限公司</title>
	<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
	<div class="mainbox mw1024">
		
		<!-- 头部 -->
		{{ include "head.html" }}

		<div class="center z-cb">
			<div class="leftbox z-l">
				
				<!-- 会员中心用户信息 -->
				{{ include "user.html" }}

				<div class="system">
					<h3>积分理财</h3>
					<ul>
						<li>累计奖金一币：<span class="c-r">23975</span></li>
						<li>推广部分一币：<span class="c-z">0</span></li>
						<li>平衡部分一币：<span class="c-z">20</span></li>
						<li>辅导部分一币：<span class="c-z">210</span></li>
						<li>累计认购一币：<span class="c-g">210</span></li>
						<li>累计卖出一币：<span class="c-b">120</span></li>
						<li>剩余金币：<span class="c-z">1.20</span></li>
						<li>积分单价：<span class="c-r">20</span></li>
						<li>积分数量：<span class="c-g">0</span></li>
						<li>积分拆分次数：<span class="c-z">0</span></li>
						<li>积分拆分倍数：<span class="c-g">0</span></li>
			        </ul>
				</div>
			</div>
			<div class="z-l">
				<div class="content-box1">
					<div class="content-title">
						<span>报单币转账</span>
					</div>
					<div class="content-form">
						<form class="form form4 h463">
							<p><label class="c-r">转出用户名：</label><input type="text"></p>
							<p><label>转账数量：</label><input style="width:100px;" type="text"></p>
							<p><label>接受用户名：</label><input type="text"></p>
							<p><label>二级密码：</label><input type="text"></p>
							<p><label></label><button class="but1">确 定 转 账</button></p>
					</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/jquery.js"></script>
	<script src="scripts/common.js"></script>
</body>
</html>