<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>会员中心</title>
	<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
	<div class="mainbox mw1024">
		
		<!-- 头部 -->
		{{ include "head.html" }}

		<div class="center z-cb">
			<div class="leftbox z-l">
				
				<!-- 会员中心用户信息 -->
				{{ include "user.html" }}

				<div class="system">
					<h3>个人信息</h3>
					<ul>
						<li><a href="#">游戏规则</a></li>
						<li><a href="#">修改个人信息</a></li>
						<li><b style=" color:#ff00ff;">学习专区</b></li>
			            <li><a href="#">分红点总数：</a><span class="c-r">0</span></li>
			            <li><a href="#">累计分红：</a><span class="c-b">0</span></li>
			            <li><a href="#" class="c-b">管理我的商店</a></li>
			            <li><a href="#" class="c-r">商户管理系统</a></li>
			            <li><a href="#">查看增值服务</a></li>
			            <li><a href="#">查看登录日志</a></li>
						<li><a href="#">修改用户协议</a></li>
			        </ul>
				</div>
			</div>
			<div class="z-l">
				<div class="content-box1">
					<div class="content-title">
						<span>积分游戏平台游戏规则</span>
					</div>
					<div class="content-txt">
						您的推广连接为：http://vip.zgyce.com/reg.asp?tg=300fhk
						积分游戏平台游戏规则
						积分游戏平台：vip.zgyce.com 备用：vip2.zgyce.com
						    会员中心（www.zgyce.com）于2012年7月开始创业，是一家从事互联网信息服务、电子商务、<br ><br ><br ><br ><br ><br ><br ><br ><br ><br ><br >连锁经营、计算机软件开发与服务、网站开发运营、网上商城、理财游戏、娱乐<br >游戏等为一体的综合性企业。<br >
<br ><br ><br ><br ><br ><br ><br ><br ><br ><br ><br >
						    积分游戏平台为本公司（澳门）<br >
						    国际有限公司开发的一款网络平台软件系统，<br >
						    软件的所有操作均须通过互联网接入方可进行，平台提供给玩家，虚拟网络经济，体验游戏理财，积分
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/jquery.js"></script>
	<script src="scripts/common.js"></script>
</body>
</html>