<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>中国一川（澳门）国际有限公司</title>
	<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
	<div class="mainbox mw1024">
		
		<!-- 头部 -->
		{{ include "head.html" }}

		<div class="center z-cb">
			<div class="leftbox z-l">
				
				<!-- 会员中心用户信息 -->
				{{ include "user.html" }}

				<div class="system">
					<h3>积分理财</h3>
					<ul>
						<li>累计奖金一币：<span class="c-r">23975</span></li>
						<li>推广部分一币：<span class="c-z">0</span></li>
						<li>平衡部分一币：<span class="c-z">20</span></li>
						<li>辅导部分一币：<span class="c-z">210</span></li>
						<li>累计认购一币：<span class="c-g">210</span></li>
						<li>累计卖出一币：<span class="c-b">120</span></li>
						<li>剩余金币：<span class="c-z">1.20</span></li>
						<li>积分单价：<span class="c-r">20</span></li>
						<li>积分数量：<span class="c-g">0</span></li>
						<li>积分拆分次数：<span class="c-z">0</span></li>
						<li>积分拆分倍数：<span class="c-g">0</span></li>
			        </ul>
				</div>
			</div>
			<div class="z-l">
				<div class="content-box1">
					<div class="content-title">
						<span>客服中心</span>
					</div>
					<div class="content-txt">
						<div class="service">
						<p>团队服务中心编号：	30***</p>
						<p>称谓：	温亚星</p>
						<p>联系QQ：	<a href="#">点击这里给我发消息</a> 2858953933</p>
						<p>联系电话：	15811892913</p>
						<p>收款账号：	农业银行-0</p>
						<p>开户行所在地：</p>
						<p>北京市北京市西城区支行</p>
						    有关业务问题可咨询，如您无法在一币市场进行收购一币的操作或您想省去在收一币中（打款，<br />
						等对方确认）的中间环节，就可以联系本团队服务中心快速购买（按1000一币，付款950元的比例进行）
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/jquery.js"></script>
	<script src="scripts/common.js"></script>
</body>
</html>