<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>会员中心</title>
	<link rel="stylesheet" href="/css/common.css" />
</head>
<body>
	<div class="mainbox mw1024">
		
		<!-- 头部 -->
		{{ include "head.html" }}

		<div class="center z-cb">
			<div class="leftbox z-l">
				
				<!-- 会员中心用户信息 -->
				{{ include "user.html" }}

				<div class="system">
					<h3>积分理财</h3>
					<ul>
						<li>累计奖金一币：<span class="c-r">23975</span></li>
						<li>推广部分一币：<span class="c-z">0</span></li>
						<li>平衡部分一币：<span class="c-z">20</span></li>
						<li>辅导部分一币：<span class="c-z">210</span></li>
						<li>累计认购一币：<span class="c-g">210</span></li>
						<li>累计卖出一币：<span class="c-b">120</span></li>
						<li>剩余金币：<span class="c-z">1.20</span></li>
						<li>积分单价：<span class="c-r">20</span></li>
						<li>积分数量：<span class="c-g">0</span></li>
						<li>积分拆分次数：<span class="c-z">0</span></li>
						<li>积分拆分倍数：<span class="c-g">0</span></li>
			        </ul>
				</div>
			</div>
			<div class="z-l">
				<div class="content-box1">
					<div class="content-title">
						<span>一币-抢购专区</span>
					</div>
					<div class="content-txt">
						<div class="">
							<p ><span>有任何事情请联系：<b class="c-b">本公司【②号】客服QQ：613697152</b> </span><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=613697152&amp;site=qq&amp;menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:613697152:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a><b class="c-r" style="font-size:12px;">&nbsp;重要提示：抢购没有100%的抢中奖，请量力而行！</b></p>

							<p><b class="c-g">说明：<span style="font-size:12px; color:#ff08ff;">每抢购一次仅需“1”积分，点击图片进行抢购，将有机会免费获得，抢中后请马上联系客服提交您的收货地址，详情请咨询。<span></b></p>

							<p class="z-tc mb20"><b class="c-b" style="font-size:12px;">文字方案文字方案文字方案文字方案文字方案文字方案文方案文字方案文字方案文文字方案文字方案文字方案文字方案文字方案<span></b></p>

						</div>
						<div class="cp-list">
							<ul>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p>资生堂案沙防晒</p>
										<p>
											<span>抢购进行中</span>
											<a href="#">抢购记录</a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p>资生堂案沙防晒</p>
										<p>
											<span>抢购进行中</span>
											<a href="#">抢购记录</a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p>资生堂案沙防晒</p>
										<p>
											<span>抢购进行中</span>
											<a href="#">抢购记录</a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p>资生堂案沙防晒</p>
										<p>
											<span>抢购进行中</span>
											<a href="#">抢购记录</a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p>资生堂案沙防晒</p>
										<p>
											<span>抢购进行中</span>
											<a href="#">抢购记录</a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p>资生堂案沙防晒</p>
										<p>
											<span>抢购进行中</span>
											<a href="#">抢购记录</a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p>资生堂案沙防晒</p>
										<p>
											<span>抢购进行中</span>
											<a href="#">抢购记录</a>
										</p>
									</div>
								</li>
								<li>
									<p><a href="#"><img src="images/pic.jpg" /></a></p>
									<div>
										<p>资生堂案沙防晒</p>
										<p>
											<span>抢购进行中</span>
											<a href="#">抢购记录</a>
										</p>
									</div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="scripts/jquery.js"></script>
	<script src="scripts/common.js"></script>
</body>
</html>